<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Investigations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-flex" href="/">
      <img src="cpsc.png" class="mr-1"width="40" height="40" alt="">
      <span id="largeScreenBrand">CONSUMER PRODUCT SAFETY COMMISSION</span>
      <span id="smallScreenBrand">CPSC</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/submitInvestigation">Submit an Investigation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listingsTable">Recall Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/openInvestigations">Open Investigations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://eepurl.com/hwNuyD">CPSC Newsletter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/analytics">Analytics Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <img id="boomers" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/U.S._Consumer_Product_Safety_Commission_chairman_and_commissioners%2C_October_2018.jpg/359px-U.S._Consumer_Product_Safety_Commission_chairman_and_commissioners%2C_October_2018.jpg">
    <h2 id="mission">Our Mission</h2>
    <h3>The U.S. Consumer Product Safety Commission (CPSC) is an independent federal regulatory agency that was created in 1972 by Congress in the Consumer Product Safety Act. In that law, Congress directed the Commission to "protect the public against unreasonable risks of injuries and deaths associated with consumer products."
        We have jurisdiction over thousands of types of consumer products, from coffee makers to toys to lawn mowers. Some types of products, however, are covered by other federal agencies. For example, cars, trucks and motorcycles are covered by the Department of Transportation; food, drugs and cosmetics are covered by the Food and Drug Administration; and alcohol, tobacco and firearms are within the jurisdiction of the Department of the Treasury.</h3>
  </div>
  
</body>
</html>


