<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Investigations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css"></link>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-flex" href="/">
      <img src="cpsc.png" class="mr-1"width="40" height="40" alt="">
      <span id="largeScreenBrand">CONSUMER PRODUCT SAFETY COMMISSION</span>
      <span id="smallScreenBrand">CPSC</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/submitInvestigation">Submit an Investigation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listingsTable">Recall Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/openInvestigations">Open Investigations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://eepurl.com/hwNuyD">CPSC Newsletter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/analytics">Analytics Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <img id="boomers" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/U.S._Consumer_Product_Safety_Commission_chairman_and_commissioners%2C_October_2018.jpg/359px-U.S._Consumer_Product_Safety_Commission_chairman_and_commissioners%2C_October_2018.jpg">
    <h2 id="mission">Talk with us!</h2>
    <h3>Consumer Hotline and General Information</br>
      Phone: (800) 638-2772; TTY (800) 638-8270</br>
      Hours: Mon.-Fri. 8 a.m. to 5:30 p.m.; messages can be left anytime.</br>
      Fax: (301) 504-0124 and (301) 504-0025</h3>
  </div>
  <div class="info">
    <div class="info-item">
      <h2>Bethesda Location</h2>
      <h3>
        U.S. Consumer Product Safety Commission</br>
        4330 East West Highway</br>
        Bethesda, MD 20814</h3>
    </div>
    <div class="info-item">
      <h2>Rockville Location</h2>
      <h3>National Product Testing and Evaluation Center</br>
        5 Research Place</br>
        Rockville, MD 20850</h3>
    </div>
  </div>
</body>
</html>

